.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 5rem;
}

#likeBtn{
  position: relative;
  display: inline-block;
  background-color: blue;
  border-radius: 2rem;
  padding: 0.75rem;
}
#likeCount{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    background-color: black;
    padding: 0.25rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.like{
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.815);
    transition: all 0.2s;
}
.like:hover{
    cursor: pointer;
    color:white;
}
